/* general styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #00369B;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Chakra Petch', sans-serif;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

/* header styling */
header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    padding: 20px;
    height: fit-content;
    align-items: center;
}

h1 {
    color: #FFFBDD;
    display: block;
    font-size: 1.5rem;
}

.collapsible {
    background-color: #00369b;
    color: #FFFBDD;
    font-family: 'Chakra Petch', sans-serif;
    cursor: pointer;
    padding: 15px 0 5px;
    width: fit-content;
    border: none;
    text-align: center;
    outline: none;
    font-size: large;    
}

.active,
.collapsible:hover {
    color: #62fa62;
}

.collapsible:focus {
    color: #62fa62;
}


.collapsible-content {
    padding: 20px;
    display: none;
    overflow: hidden;
    color: #00369b;
    background-color: #FFFBDD;
    border: 2px solid #021e51;
    border-radius: .3rem;
    box-shadow: 5px 5px 6px 0px rgba(14, 0, 59, 0.74);
    text-align: center;
    z-index: 3;
}

/* start game div styling */
.start-game {
    color: #00369b;
    background-color: #FFFBDD;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 400px;
    margin: 10px;
    border-radius: 1.5rem;
    text-align: center;

}

.start-game h2 {
    font-size: x-large;
    color: #00369b;
}

.button {
    width: 120px;
    height: 50px;
    border: 1px solid #00369b;
    border-radius: 1.1rem;
    font-family: 'Chakra Petch', sans-serif;
    color: #00369b;
    background-color: #baffba;
    margin: 10px;
    outline: none;
}

.button:hover {
    background-color: #62fa62;
    cursor: pointer;
}

.button:focus {
    background-color: #62fa62;
}

/* game play div styling */
.game-container {
    color: #00369b;
    background-color: #FFFBDD;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    border-radius: 1.5rem;
    text-align: center;
}

.timer {
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.score {
    margin-bottom: 20px;
    padding: 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.example-word {
    margin-bottom: 10px;
    padding: 8px;
    color: #021e51;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid #ffe313;
    border-radius: .2rem;
    width: 90%;
    background-color: #fffef6;
}

.answer-word {
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    text-align: center;
    outline: none;
    color: #021e51;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #fffef6;
    border: 1px solid #ffe313;
    border-radius: .2rem;
}

.answer-word:focus {
    border-color: #d1b900;
}

.correct {
    color: #02b502;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

/* end game div styling */
.end-game-container {
    color: #00369b;
    background-color: #FFFBDD;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 400px;
    border-radius: 1.5rem;
    text-align: center;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.text-outcome {
    margin: 10px;
}

.form-box {
    margin-bottom: 5px;
    color: #021e51;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    background-color: #fffef6;
    border: 1px solid #ffe313;
    border-radius: .2rem;
    text-align: center;
}

.form-box:focus {
    border-color: #d1b900;
}

.form-box:hover {
    border-color: #d1b900;
    cursor: pointer;
}

/* footer styling */
footer {
    position: absolute;
    bottom: 0;
    color: #FFFBDD;
    text-align: center;
}

footer p {
    padding: 20px;
}