* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color:#00369B;
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Chakra Petch', sans-serif;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    height: fit-content;
    text-align: center;
}

h1 {
    color: #FFFBDD;
    display: block;
    margin-left: 20px;
    font-size: 1.5rem;    
}

header div {
    color: #FFFBDD;
    font-size: large;
    display: block;
    padding-top: 20px;
}

.hide {
    display: none;
}
.start-game {
    color: #00369b;
    background-color: #FFFBDD;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 1.5rem;
    text-align: center;
    
}

.start-game h2 {
    font-size: large;
    color: #00369b;
}

.button {
    width: 120px;
    height: 50px;
    border: 1px solid #00369b;
    border-radius: 1.1rem;
    color: #00369b;
    background-color: #baffba;
    margin: 10px;
    outline: none;
}

.button:hover {
    background-color: #62fa62;
}

.game-container {
    color: #00369b;
    background-color: #FFFBDD;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 1.5rem;
    text-align: center;
}

.answer-word {
    width: 90%;
    text-align: center;
    outline: none;
    color: #021e51;
    background-color: #fffef6;
    border: 1px solid #ffe313;
    border-radius: .2rem;
}

.answer-word:focus {
    border-color: #021e51;
}

.example-word {
    color: #021e51;
    border: 1px solid #ffe313;
    border-radius: .2rem;
    width: 90%;
    background-color: #fffef6;
}

.correct {
    color: rgb(4, 164, 4);
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.end-game-container {
    color: #00369b;
    background-color: #FFFBDD;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 300px;
    border-radius: 1.5rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.text-outcome {
    margin: 10px;
}

.form-box {
    background-color: #fffef6;
    border: 1px solid #ffe313;
    border-radius: .2rem;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    color: #FFFBDD;
    text-align: center;
}

footer p {
    padding: 20px;
}